---
import MainLayout from "../layouts/MainLayout.astro";
---

<style lang="sass">
  .features article
    align-items: start
    .icon
      height: 8em
      &::after
        display: none
</style>

<MainLayout
  title="Erik Lopez"
  tagline="Software Engineer"
  description="Erik Lopez's Website"
>
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hello! I'm Erik Lopez</h1>
      </header>
      <p>
        I'm an experienced Software Engineer with a record of delivering
        successful projects in fast-paced, startup environments who is currently
        looking for a new challenge!
      </p>
      <ul class="actions">
        <li>
          <a
            href="/files/Erik_Lopez_Resume.pdf"
            class="button large primary"
            download>Download my resume</a
          >
        </li>
      </ul>
    </div>
    <span class="image object">
      <img src="/images/pictures/Erik.jpeg" alt="Erik Lopez" />
    </span>
  </section>
  <section>
    <header class="major">
      <h2>Some of the places I've worked</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon">
          <img src="/images/logos/tn.jpg" alt="Tuft & Needle logo" />
        </span>
        <div class="content">
          <h3>Tuft & Needle</h3>
          <p>
            As the second member of the Front End team, contributed to creating
            a high-performing website generating millions in monthly revenue.
            Improved and contributed features for various websites
            (tuftandneedle.com, serta.com, and beautyrest.com) and collaborated
            with designers on A/B tests, resulting in increased conversion and
            revenue growth.
          </p>
          <p>
            Tuft & Needle is a direct-to-consumer mattress and home furnishings
            company offering high-quality products at accessible prices, with a
            focus on innovation, sustainability, and customer education.
          </p>
        </div>
      </article>
      <article>
        <span class="icon">
          <img src="/images/logos/bondvet.png" alt="Bond Vet logo" />
        </span>
        <div class="content">
          <h3>Bond Vet</h3>
          <p>
            As a member of the Front End team, contributed to creating a
            high-performing website generating billions in monthly revenue.
            Improved and contributed features for various websites (ebay.com,
            paypal.com, and stubhub.com) and collaborated with designers on A/B
            tests, resulting in increased conversion and revenue growth.
          </p>
          <p>
            Bond Vet is a full-service veterinary clinic known for providing
            high-quality, compassionate care to pets and promoting responsible
            pet ownership.
          </p>
        </div>
      </article>
      <article>
        <span class="icon">
          <img src="/images/logos/srp.png" alt="Salt River Project logo" />
        </span>
        <div class="content">
          <h3>Salt River Project</h3>
          <p>
            As a Full Stack Engineer, delivered innovative HR solutions using
            .NET, Angular, React, and SQL Server, creating new sites resulting
            in increased accuracy and utilization of HR programs. As a Principal
            Technical Architect, led a team of 12 Full Stack Engineers in
            developing a large-scale customer-facing application for accurate
            and timely water irrigation delivery, showcasing strong project
            management skills resulting in a successful and on-time delivery.
          </p>
          <p>
            Salt River Project is a public power and water utility serving over
            one million customers with a commitment to sustainability and
            community involvement.
          </p>
        </div>
      </article>
    </div>
  </section>
  <!-- <section>
    <header class="major">
      <h2>Projects</h2>
    </header>
  </section> -->
</MainLayout>
